.calc-outer
{
    width: 406px;
    height: 600px;
    background-color: black;
    margin-left: 519px;
    margin-top: 30px;
}
.screen
{
    width: 80%;
    height: 53px;
    margin-top: 57px;
    margin-left: 30px;
    pointer-events: none;
}